!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/style.css'}
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{rel: 'canonical', href: "https://www.exegete.me#{request.path}"}
    %title= "Exegete.me #{yield_content :title}"
  %body#exe{class: yield_content(:body_class), data: {controller: :reader}}
    %header
      %nav
        %a.brand{href: '/'}<
          %span Exegete
        .pull-right
          %a.readermode.lg.nodecorate{href: '#', alt: 'Rotate reader mode', data: {action: 'reader#rotate'}} 📄
          %a{href: 'https://twitter.com/exegete46', title: 'Exegete on Twitter', target: :_blank}<>
            %i.nes-icon.twitter
          %a{href: 'https://github.com/exegete46', title: 'Exegete on Github', target: :_blank}<>
            %i.nes-icon.github
          %a{href: 'https://twitch.tv/exegete46', title: 'Exegete on Twitch', target: :_blank}<>
            %i.nes-icon.twitch
    %main
      %h1= yield_content :h1
      = yield
    %footer.small
      &copy; 2019 - Time.now()
      %span.divider
      %a.nes-btn.is-primary{href: 'mailto:exegete@hey.com?subject=Website+Contact', title: 'Contact Exegete'}
        Contact
    %link{href: 'https://unpkg.com/nes.css@latest/css/nes.min.css', rel: :stylesheet, defer: true}
    %link{href: 'https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap', rel: :stylesheet, defer: true}
    %script{src: 'https://unpkg.com/stimulus/dist/stimulus.umd.js'}
    %script{src: '/script.js'}
